/dist/
/lab5/nbproject/private/
/lab5/build/
/ASM/nbproject/private/
/ASM/build/
/DeLuyen2/nbproject/private/
/DeLuyen2/build/
/DeLuyen3/nbproject/private/
/DeLuyen3/build/
/lab6/nbproject/private/
/lab6/build/
